<div class="grid-container">
  <div class="posts-container grid-x grid-padding-x small-up-2 medium-up-4">
    <div class="post cell text-center" *ngFor="let post of posts; let i = index">
      <a [href]="post?.url">
        <img [src]="post?.thumbnailUrl"/>
      </a>
      <p>{{post?.title}}</p>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    <div class="cell">

      <button 
        ng-disabled="noMorePosts" 
        [ngClass]="{'button': true, 'disabled': noMorePosts}" 
        (click)="loadOneMorePost()">Load one more post</button>
      <span class="warning" *ngIf="noMorePosts">:( No more posts available</span>
    </div>
  </div>
</div>
