<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell small-12">
      <img src="//static.skillshare.com/uploads/project/871831708fc3cc450b083eb8964cf6d0/55fcd897" alt="Skillshare" />
    </div>
    <div class="cell small-3">
      <h2>Zach Bridges</h2>
    </div>
    <div class="cell small-9">
      <p>These are the requirements.</p>
      <ul>
        <li>Do this</li>
        <li>Do that </li>
        <li>Do this thing over here</li>
        <li>and do it like this</li>
      </ul>
    </div>
  </div>
</div>

<app-posts></app-posts>